
h1 {
    text-align: center;
}

.Element {
    height: 500px;
    margin: 5px;
    float: left;
    border: 2px solid darkgray;
    border-radius: 5%;
    width: 60%;
    padding: 10px;
}

#filters {
    width: 30%;
}

.filter {
    padding: 15px;
}

#Tops {
    width: 30%;
}

#map {
    height:80%;
}

#legend {
    height: 20%;
    text-align: center;
    padding: 20px;
}

.checkBox {
    background-color:darkgray;
}
/* CSS code for the elements that have the class dot */

.dot {
    cursor: default;   /* Changes the look of the cursor when it hovers the element */
    fill: #0082a3;   /* Color */
    fill-opacity: 0.6;   /* Transparency, from 0 (invisible) to 1 (opaque) */
    stroke: #004d60;   /* Border color */
    stroke-width: 1;   /* Border width in pixels */
}

/* CSS code for the element that has the id points_container */


li {
    text-align: center;
    display: inline;
    padding: 10px;
  }
  
