
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    padding-left: 30px;
}

.Element {
    position: relative;
    height: 500px;
    margin: 5px;
    float: left;
    border: 2px solid darkgray;
    border-radius: 5%;
    width: 60%;
    padding: 10px;
}

#filters {
    width: 30%;
}



#Tops {
    width: 50%;

}

#Histogram {
    width: 40%;
}

#timeline {
    width:90%;
    height:200px;
    padding:5px;
    text-align: center;
}

#slider-range {
    background-color:rgba(0, 0, 0, 0.562);
    margin:20px;
    height: 30px;
    padding:5px;
    left:200px;
}
#slider-range .ui-slider-handle {
    width:1em;
    height: 3em;
    left:-.6em;
    text-decoration:none;
    text-align:center;
}

#slider-range .ui-slider-range {

    background: #ccc;
  }

#map {
    height:100%;
}


#legend {
    height: 20%;
    text-align: center;
    padding: 20px;
}

.checkBox {
    background-color:darkgray;
    cursor: pointer;
}
/* CSS code for the elements that have the class dot */

.dot {
    cursor: default;   /* Changes the look of the cursor when it hovers the element */
    fill: #0082a3;   /* Color */
    fill-opacity: 0.6;   /* Transparency, from 0 (invisible) to 1 (opaque) */
    stroke: #004d60;   /* Border color */
    stroke-width: 1;   /* Border width in pixels */
}

/* CSS code for the text elements inside an element that has the axis class */

.axis text {
    font: 12px sans-serif;   /* Sets the font family to sans-serif the the font-size to 10px */}


/* CSS code for the path elements inside an element that has the axis class */

.axis path {
    fill: none;   /* Otherwise, the axis would look like a thick line */
    stroke: black;
}

/* CSS code for the element that has the id barchart */

#barchart {
    height:75%;
    width: 100%;
}

.btn-group button {
    float:left;
    background-color: rgb(50, 63, 73);
    border-bottom: none;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 31%; /* Set a width if needed */
    text-align: center;
}
  
.btn-group button:not(:last-child) {
   border-bottom: none; /* Prevent double borders */
}

.top{
    top:500px;
    left:30px;
    font-size: xx-large;
}

li {
    text-align: center;
    display: inline;
    padding: 10px;
}

#deathFilter.li{
    display: block;
}


/* Modal window*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999;
  }
  
  /* Modal Content/Box */
  #modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid white;
    width: 80%; /* Could be more or less, depending on screen size */
    color: white

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.fa-medal{
    font-size: xx-large
}

.circle {
    height: 20px;
    width: 20px;
    background-color: #555;
    border-radius: 50%;
  }

input:checked ~ .checkBox:after{
    background-color: darkslategray;
}
input[type="checkbox" i] {
    background-color: black;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}