
h1 {
    text-align: center;
}

.Element {
    position: relative;
    height: 500px;
    margin: 5px;
    float: left;
    border: 2px solid darkgray;
    border-radius: 5%;
    width: 60%;
    padding: 10px;
}

#filters {
    width: 30%;
}

#Tops {
    width: 30%;
}

#map {
    height:80%;
}

#legend {
    height: 20%;
    text-align: center;
    padding: 20px;
}

.checkBox {
    background-color:darkgray;
    cursor: pointer;
}
/* CSS code for the elements that have the class dot */

.dot {
    cursor: default;   /* Changes the look of the cursor when it hovers the element */
    fill: #0082a3;   /* Color */
    fill-opacity: 0.6;   /* Transparency, from 0 (invisible) to 1 (opaque) */
    stroke: #004d60;   /* Border color */
    stroke-width: 1;   /* Border width in pixels */
}

.bar {
    fill: silver;   /* Colors the bars of the bar chart in steelblue */
}

/* CSS code for the text elements inside an element that has the axis class */

.axis text {
    font: 10px sans-serif;   /* Sets the font family to sans-serif the the font-size to 10px */
}

/* CSS code for the path elements inside an element that has the axis class */

.axis path {
    fill: none;   /* Otherwise, the axis would look like a thick line */
    stroke: #000000;   /* Sets the color of the axis to black */
}

/* CSS code for the element that has the id barchart */

#barchart {
    height:75%;
    width: 75%;
}

.btn-group button {
    background-color: rgb(50, 63, 73); /* Green background */
    border: 1px solid darkslategray; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 150px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    text-align: center;
  }
  
.btn-group button:not(:last-child) {
   border-bottom: none; /* Prevent double borders */
}

.top{
    top:500px;
    left:30px;
    font-size: xx-large;
}

#Gold{
    color:gold;
}

#Silver{
    top:550px;
    left:30px;
    color: silver;
}

#Bronze{
    top:600px;
    left:30px;
    color:brown
}
