.top{
    position:fixed;
    top:500px;
    left:30px;
    font-size: xx-large;
}

#Gold{
    color:gold;
}

#Silver{
    position:fixed;
    top:550px;
    left:30px;
    color: silver;
}

#Bronze{
    position:fixed;
    top:600px;
    left:30px;
    color:brown
}
   
.beautiful_button {
        background-color: rgb(50, 63, 73);   /* The buttons are colored in steelblue */
        border: black;   /* The buttons have no border */
        color: white;   /* The text inside the buttons is white */
        padding: 15px 32px;   /* Defines the space in pixels between the text inside the buttons and their edges */
        text-align: center;   /* The text inside the buttons is centered */
        font-size: 16px;   /* Font size of the text inside the buttons */
    }

 #buttons_container{
        width: 1000px;   /* Dimensions of the buttons_container element */
        text-align: left;   /* Centers the contents of the buttons_container element */    
        position:relative;
        top: 700px;
        left:200px;
}