
#map { 
    width: 1000px;   /* Dimensions of the map element */
    height: 600px;
}

/* CSS code for the elements that have the class dot */

.dot {
    cursor: default;   /* Changes the look of the cursor when it hovers the element */
    fill: #0082a3;   /* Color */
    fill-opacity: 0.6;   /* Transparency, from 0 (invisible) to 1 (opaque) */
    stroke: #004d60;   /* Border color */
    stroke-width: 1;   /* Border width in pixels */
}

/* CSS code for the element that has the id points_container */

#points_container {
    width: 100%;   /* Width of the element is 100% of the width of its parent */
    height: 100%;   /* Height of the element is 100% of the width of its parent */
}

